body {
    margin: 0 auto;
}
.main {
    background-color: #ccc;
    background-image: url("../img/sndchck.jpg");
    background-size: cover;
    margin: 0 auto;
}
.keys {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 200px;
    /* align-items: center; */
}
.drum {
    margin-top: 200px;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    width: 88px;
    height: 85px;
    border: 2px solid rgb(255, 177, 8);
    box-shadow: 0 0 10px 0px rgb(255, 123, 0);
    font-size: 20px;
    margin: 5px;
    color: rgb(255, 177, 8);
    transition: all 0.05s;
  
}
.letter {
    text-shadow: 1px 1px 1px #000;
    font-size: 24px;
    font-weight: 500;
    
}
.drum-name {
    font-size: 18px;
    text-shadow: 1px 1px 0px #000;
    font-weight: 300;
}
.credit {
    align-self: flex-end;
    color: #888;
    text-align: right;
}
.credit a {    
    text-decoration: none;
    color: #888;
}

.active {
    transform: scale(1.05);
    box-shadow: 0 0 15px 4px rgb(255, 123, 0);
}